.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group text
      %ul.main-header__left-box__member-list 
        Member：
        %li.main-header__left-box__member-list__member kozu
    = link_to "#", class:"main-header__edit-btn" do
      Edit
  .messages
    .message
      .message-info
        %p.message-info__talker kozu
        %p.message-info__date 2020/01/01(Wed) 10:00:00
      %p.message__text hello
      .message-info
        %p.message-info__talker kozu
        %p.message-info__date 2020/01/01(Wed) 10:00:00
      %p.message__text hello
      .message-info
        %p.message-info__talker kozu
        %p.message-info__date 2020/01/01(Wed) 10:00:00
      %p.message__text hello
  .form
    %form.new-message{action: "#", method: "post"}
      .input-box
        %input.input-box__text{type: "text", placeholder: "type a message"}
        %label.input-box__image{for: "message-image"}
          %i.fa.fa-image
          %input.input-box__image__file{type: "file", id: "message-image"}
      %input.submit-btn{type: "submit", value: "Send"}



